#hero {
	background-image: url(https://assets.goal.com/v3/assets/bltcc7a7ffd2fbf71f5/blt12dbddde5342ce4c/648866ff21a8556da61fa167/GOAL_-_Blank_WEB_-_Facebook_-_2023-06-13T135350.847.png?auto=webp&format=pjpg&width=3840&quality=60);
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
}